.idea/
.gradle/
*/.exercism*
*/README*

*/build/*
*/build*
*/.gradle*
*/gradle/*
*/src/test/*


*/gradle/*
gradle/*
gradle*
../.gradel*


dart/**/.dart_tool
dart/**/.packages
dart/**/pubspec.lock
dart/**/.exercism
dart/**/README.md
dart/**/analysis_options.yaml
dart/**/pubspec.yaml
dart/**/test/*